@media (min-width: 740px) {
	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
	}
    .container {
        display:grid; 
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        grid-gap: 2rem;
        place-items: center;
        text-align: center;
    }
    #menu {
		display: none; /* hide hamburger button */
	}
    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

}