:root {
    --color-primary: #210B2C;
    --color-secondary: #55286F;
    --color-tertiary: #BC96E6;
    --color-four: #D8B4E2;
    --color-fifth: #AE759F;
    --color-white: #FFFFFF;
    

  
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: var(--color-white);
    color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

h2 {
    text-align: center;
}

/* mobile **************************/

header, footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 20px;
    text-align: center;
    display: grid;
	grid-gap: 1rem;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 30px #333;
    
}

header,
main, footer {
	margin: 0 auto;
    max-width: 850px;
    padding: 10px;
}

nav {
    background-color: var(--color-fifth); 
}

nav ul {
    list-style: none;
	display: flex;
	flex-direction: column;
}

nav a {
    display: block;
    color: var(--color-white);
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    font-size: larger;
  }

nav a:hover {
	text-decoration:underline;
    color: var(--color-four);
}

.active {
	color: var(--color-secondary);
}

img { width: 100%; 
    height: auto; 
}

img:hover{
    box-shadow: 0 0 50px #333;
}

.container {
        display:grid; 
        grid-template-columns: 1fr;
        text-align: center;
    }


/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
    color: white;
    font-size: 2rem;
}

#menu.open::before {
	content: "❌";
    font-size: 2rem;
}


.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: var(--color-fifth);
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
